USE [master]
GO
/****** Object:  Database [poc]    Script Date: 04-03-2021 14:22:44 ******/
CREATE DATABASE [poc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'poc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\poc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'poc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\poc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [poc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [poc]
GO
/****** Object:  Table [dbo].[T_address]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_address](
	[UserID] [int] NOT NULL,
	[Line1] [varchar](50) NOT NULL,
	[Line2] [varchar](50) NULL,
	[Pincode] [varchar](6) NOT NULL,
	[PhoneNo] [varchar](11) NOT NULL,
 CONSTRAINT [pk] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_category]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_category](
	[CategoryName] [varchar](20) NOT NULL,
	[IconID] [int] NULL,
	[ProductID] [int] NOT NULL,
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_checkout]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_checkout](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[AddressID] [int] NULL,
	[CardNo] [varchar](20) NULL,
	[ValidFrom] [smallint] NULL,
	[ValidTo] [smallint] NULL,
	[Cvv] [smallint] NULL,
	[HolderName] [varchar](30) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK__checkout] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Orders]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[OrderTotal] [money] NULL,
 CONSTRAINT [PK__T_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ProductImages]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ProductImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImageName] [varchar](30) NULL,
	[Src] [varchar](30) NOT NULL,
 CONSTRAINT [PK__ProductImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_products]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[ProductType] [varchar](50) NOT NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK__products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SubCategory]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SubCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubCatName] [varchar](20) NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK__T_SubCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_user]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_user](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](40) NOT NULL,
	[MiddleName] [varchar](30) NULL,
	[LastName] [varchar](30) NOT NULL,
	[Address_ID] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Pasword] [varchar](20) NOT NULL,
 CONSTRAINT [PK_T_user] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_category]  WITH CHECK ADD  CONSTRAINT [FK_Product_ID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[T_products] ([ID])
GO
ALTER TABLE [dbo].[T_category] CHECK CONSTRAINT [FK_Product_ID]
GO
ALTER TABLE [dbo].[T_checkout]  WITH CHECK ADD  CONSTRAINT [FK_T_checkout_addID] FOREIGN KEY([AddressID])
REFERENCES [dbo].[T_address] ([UserID])
GO
ALTER TABLE [dbo].[T_checkout] CHECK CONSTRAINT [FK_T_checkout_addID]
GO
ALTER TABLE [dbo].[T_checkout]  WITH CHECK ADD  CONSTRAINT [FK_T_checkout_orderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[T_Orders] ([ID])
GO
ALTER TABLE [dbo].[T_checkout] CHECK CONSTRAINT [FK_T_checkout_orderID]
GO
ALTER TABLE [dbo].[T_Orders]  WITH CHECK ADD  CONSTRAINT [FK_T_Orders] FOREIGN KEY([ProductID])
REFERENCES [dbo].[T_products] ([ID])
GO
ALTER TABLE [dbo].[T_Orders] CHECK CONSTRAINT [FK_T_Orders]
GO
ALTER TABLE [dbo].[T_ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[T_products] ([ID])
GO
ALTER TABLE [dbo].[T_ProductImages] CHECK CONSTRAINT [FK_ProductID]
GO
ALTER TABLE [dbo].[T_SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_T_SubCategory] FOREIGN KEY([ProductID])
REFERENCES [dbo].[T_products] ([ID])
GO
ALTER TABLE [dbo].[T_SubCategory] CHECK CONSTRAINT [FK_T_SubCategory]
GO
ALTER TABLE [dbo].[T_user]  WITH CHECK ADD  CONSTRAINT [FK_Address_ID] FOREIGN KEY([Address_ID])
REFERENCES [dbo].[T_address] ([UserID])
GO
ALTER TABLE [dbo].[T_user] CHECK CONSTRAINT [FK_Address_ID]
GO
/****** Object:  StoredProcedure [dbo].[AddressDetails]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[AddressDetails] as
begin
	select *
	from T_address
end

GO
/****** Object:  StoredProcedure [dbo].[CheckoutDetails]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[CheckoutDetails] as
begin
	select *
	from T_checkout
end

GO
/****** Object:  StoredProcedure [dbo].[OrderDetails]    Script Date: 04-03-2021 14:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[OrderDetails] as
begin
	select *
	from T_Orders
end

GO
USE [master]
GO
